<!-- 질문 목록 -->
 {% extends 'base.html' %}
{% block content%}
<div class="container my-3">
    <table class="table">
        <thead>
        <tr class="table-dark">
            <th>번호</th>
            <th>제목</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        {% if question_list %}
        {% for question in question_list %}
        <tr>
            <td>{{ loop.index }}</td>
            <td><a href="{{url_for('question.detail',question_id=question.id)}}">{{ question.subject }}</a></td>
            <td>{{question.create_date}}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <p>질문이 없습니다.</p>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}